/* src/App.css */
.App {
  text-align: center;
  background-color: rgb(24, 23, 28);
}

.subscription-container {
  margin-top: 20px;
}

.email-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.subscribe-button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #61dafb;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #21a1f1;
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.general-h1 { 
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.general {
  font-size: 20px;
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

p {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}
