/* src/App.css */
.App {
  text-align: center;
  background-color: #1D283A;
  padding-bottom: 4rem;
}

.subscription-container {
  margin-top: 20px;
}

.email-input {
  padding: 15px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 300px;
}

.subscribe-button {
  padding: 15px 30px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #009bd6;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #21a1f1;
}

.App-header {
  background-color: rgb(17, 24, 39);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  width: 120px; /* Adjust the width as necessary */
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.general-h1 { 
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.general {
  font-size: 20px;
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #009bd6;

}

p {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  margin: 0;
  padding: 0;
  border: none;
}


main { 
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #1D283A; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #009bd6; /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
  border: 3px solid #1D283A; /* Creates padding around the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #21a1f1; /* Color of the scrollbar handle on hover */
}